<html lang="{{lang}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/devicons/1.7.0/css/devicons.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/flag-icon-css/0.6.0/css/flag-icon.min.css">
  <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/zavoloklom/material-design-iconic-font/master/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.css">
  <link rel="stylesheet" type="text/css" href="/icomoon.css">

</head>
<body id="body"><span style="{{style}}; top:0; left:0; height:{{size}}px; min-height:{{size}}px; width:{{size}}px; min-width:{{size}}px; max-width:{{size}}px; z-index:1">
