<span id="layer{{zindex}}" style="{{style}}; top:{{top}}; left:{{left}}; z-index:{{zindex}}; font-size:{{height}}px; text-align:left; height:{{size}}px; min-height:{{size}}px; width:{{size}}px; min-width:{{size}}px; max-width:{{size}}px; text-align: {{align}}">{{{img}}}{{{fa}}}{{{flag}}}{{{dev}}}{{{md}}}{{{fi}}}{{{im}}}{{text}}</span>
